* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: url(/images/coding\ quizz.png) no-repeat center center ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rulesWrapper {
    width: 650px;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow:
    0 0 60px  #fff,  /* inner white */
    0 0 100px  #f0f, /* middle magenta */
    0 0 140px  #0ff; /* outer cyan */
}

.rulesHead {
    text-shadow: 4px 3px #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}

.rules {
    /* border: 1px solid black; */
    height: 50vh;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.rulesList li {
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;
}

.Btn {
    display: flex;
    justify-content: space-between;
}

.btn-grad {
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
    padding: 12px 19px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #000;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    border: 1px solid #979595;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  @media(max-width:650px) {
    .rulesWrapper {
        width: 92vw;
    }
  }

  @media(max-width: 639px) {
    .rules {
        height: 55vh;
    }
  }

  @media(max-width: 596px) {
    .rules {
        height: 46vh;
    }

    
    
  }

  @media(max-width: 589px) {
    .rules {
        height: 55vh;
    }
  }

  @media(max-width: 490px) {
    .rules {
        height: 60vh;
    }
  }

  @media (max-width: 425px) {
    .rules {
        height: 81vh;
    }
  }

  @media (max-width: 414px) {
    .rules {
        height: 80vh;
    }
    body {
        margin-top: 7px;
        margin-bottom: 22px;
    }
  }

  @media(max-width: 375px) {
    .rules {
        height: 86vh;
    }

    body {
        margin-top: 22px;
    }
  }

  @media(max-width: 320px) {
    .rules {
        height: 71vh;
    }

    body {
        margin-top: 30px;
    }

    .rulesList li {
        font-size: 1rem;
    }
  }